@import url('https://fonts.googleapis.com/css?family=Rubik');
:root {
  --white: #FFFFFF;
  --black: #303841;
  --gray: #777777;
  --yellow: #F6C90E;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Rubik', sans-serif!important;
}
body {
  font-family: 'Rubik'!important;
}

.mr-40 {
  margin-right: 40;
}
.card-padding {
  padding: 12px 28px;
}
.card-border{
  border-radius: 28px;
}
